.theme {
	--tab-panel-border: 1px solid #2d2d2d;
	--tab-panel-background: #3f3f3f;
	--tab-panel-color: #efefef;
	--tab-panel-border-radius: 5px;
	// --tab-panel-tabs-margin: ;
	// --tab-panel-tabs-padding: ;
	--tab-panel-tabs-border-bottom: 1px solid #2d2d2d;
	--tab-panel-tabs-background: #4f4f4f;
	// --tab-panel-tab-margin: ;
	// --tab-panel-tab-padding: ;
	--tab-panel-tab-border-right: 1px solid #2d2d2d;
	// --tab-panel-tab-border-radius: ;
	// --tab-panel-tab-background: ;
	// --tab-panel-tab-color: ;
	// --tab-panel-tab-transition: ;
	// --tab-panel-tab-hover-background: ;
	// --tab-panel-tab-active-background: ;
	// --tab-panel-padding: ;
}