.root {
	display: block;
	border: 1px solid black;
}

.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid black;
	> li {
		display: inline-block;
		margin: 0;
		padding: 10px;
		border: 1px solid black;
		&:hover {
			background: green;
		}
	}
}

.activeTab {
	background: red;
}

.panels {
	display: block;
}

.panel {
	padding: 10px;
}
