@import './variables';
@import 'dojo-widgets/styles/variables';

.tabPanel {
	display: block;
	background: var(--dark-tabPanel-background);
	color: var(--dark-tabPanel-color);
}

.button {
	background: var(--dark-button-background);
	color: var(--dark-button-color);
	padding: var(--dark-input-padding);
	border: 1px solid var(--dark-button-border);
	border-radius: 5px;
}

.tabPanelTab {
	composes: button;
	display: inline-block;
	margin-right: 2px;
}

.tabPanelActiveTab {
	background: var(--dark-tabPanelActiveTab-background);
}
