@import 'dojo-widgets/styles/variables';

:root {
	--dark-tabPanel-background: var(--dojo-black);
	--dark-tabPanel-color: var(--dojo-off-white);
	--dark-tabPanelActiveTab-background: color(var(--dojo-red) b(+20%));

	--dark-button-background: var(--dojo-gray);
	--dark-button-color: var(--dojo-off-white);
	--dark-button-border: var(--dojo-black);

	--dark-input-padding: 8px;
}
