base-blue = #aec6cf;

.theme {
	--tab-panel-border: 1px solid darken(base-blue, 20%);
	--tab-panel-background: base-blue;
	--tab-panel-color: #000;
	--tab-panel-border-radius: 0;
	// --tab-panel-tabs-margin: ;
	--tab-panel-tabs-padding: 10px 5px 0 5px;
	--tab-panel-tabs-border-bottom: 1px solid darken(base-blue, 20%);
	--tab-panel-tabs-background: ligten(base-blue, 10%);
	--tab-panel-tab-margin: 0 5px 0 0;
	// --tab-panel-tab-padding: ;
	--tab-panel-tab-border: 1px solid darken(base-blue, 20%);
	--tab-panel-tab-border-top-left-radius: 5px;
	--tab-panel-tab-border-top-right-radius: 5px;
	// --tab-panel-tab-background: ;
	// --tab-panel-tab-color: ;
	// --tab-panel-tab-transition: ;
	--tab-panel-tab-hover-background: darken(base-blue, 20%);
	--tab-panel-tab-active-background: darken(base-blue, 10%);
	// --tab-panel-padding: ;
}